@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ASP.NET CORE</h1>
    <p>building ULK Jokes Web apps with ASP.NET Core Application MVC.</p>
</div>
